/target
**/*.rs.bk
/examples/rust/**/model
/examples/rust/**/api
/examples/rust/**/db
/examples/rust/**/target
/examples/go/**/model
/examples/go/**/api
/examples/go/**/db
/examples/**/*.sql
/examples/java/**/model
/examples/java/**/api
/examples/java/**/db
/examples/java/**/target/
/examples/java/**/generated/
examples/java/**/.classpath
examples/java/**/.project
examples/java/**/.settings/
