use super::*;
{{#is_object}}
use serde::{Serialize,Deserialize};
{{#has_date}}
use chrono::Date;
{{/has_date}}
{{#has_datetime}}
use chrono::DateTime;
{{/has_datetime}}

{{#description}}
/*
{{description}}*/
{{/description}}
#[derive(Serialize,Deserialize)]
pub struct {{name}} {
{{#fields}}
    pub {{name}}: {{& type}},
{{/fields}}
{{#additional_fields}}
{{#fields}}
    #[serde(skip)]
    pub {{name}}: {{& type}},
{{/fields}}
{{/additional_fields}}
}
{{/is_object}}
{{#is_array}}
pub type {{name}} = Vec<{{items.name}}>;
{{/is_array}}
