{{~#if is_object}}
use serde::{Serialize,Deserialize};
{{~#if has_date}}
use chrono::Date;
{{~/if}}
{{~#if has_datetime}}
use chrono::DateTime;
{{~/if}}

#[derive(Serialize,Deserialize)]
pub struct {{model_name}} {
{{~#each fields}}
  pub {{ name }}: {{ type }},
{{~/each}}
}
{{~/if}}

{{~#if is_array}}
pub type {{model_name}} = Vec<{{items.model_name}}>;
{{~/if}}
